# ADC to Linear Actuator Position

In [16]:
import pandas as pd
import numpy as np
import datetime
from datetime import *

In [17]:
adc = list(range(379,970,1)) # range of analog digital converter (actually closer to 380, 970)
# adc = list(range(0,1025,1))
stroke = 14 # stroke of linear actuator
ret = 23.87 # length of linear actuator, retracted
ext = 37.87 # length of linear actuator, extended
# mult = stroke/(len(adc))

ADC_to_Length = lambda x : ret + stroke * (x-adc[0])/(adc[-1]-adc[0])

lengths=[]
for val in adc:
    lengths.append(ADC_to_Length(val))
    
# print(lengths)
# print(len(adc))

[23.87, 23.893728813559324, 23.917457627118644, 23.941186440677967, 23.96491525423729, 23.98864406779661, 24.012372881355933, 24.036101694915256, 24.059830508474576, 24.0835593220339, 24.107288135593222, 24.131016949152542, 24.154745762711865, 24.17847457627119, 24.20220338983051, 24.22593220338983, 24.249661016949155, 24.273389830508474, 24.297118644067798, 24.32084745762712, 24.34457627118644, 24.368305084745764, 24.392033898305087, 24.415762711864406, 24.43949152542373, 24.463220338983053, 24.486949152542373, 24.510677966101696, 24.53440677966102, 24.55813559322034, 24.581864406779662, 24.605593220338985, 24.629322033898305, 24.653050847457628, 24.67677966101695, 24.70050847457627, 24.724237288135594, 24.747966101694917, 24.771694915254237, 24.79542372881356, 24.819152542372883, 24.842881355932203, 24.866610169491526, 24.89033898305085, 24.91406779661017, 24.937796610169492, 24.961525423728816, 24.985254237288135, 25.00898305084746, 25.03271186440678, 25.0564406779661, 25.080169491525425, 25.103898305084748, 25.127627118644067, 25.15135593220339, 25.175084745762714, 25.198813559322033, 25.222542372881357, 25.24627118644068, 25.27, 25.293728813559323, 25.317457627118646, 25.341186440677966, 25.36491525423729, 25.388644067796612, 25.41237288135593, 25.436101694915255, 25.459830508474578, 25.483559322033898, 25.50728813559322, 25.531016949152544, 25.554745762711864, 25.578474576271187, 25.60220338983051, 25.62593220338983, 25.649661016949153, 25.673389830508476, 25.697118644067796, 25.72084745762712, 25.744576271186443, 25.768305084745762, 25.792033898305085, 25.81576271186441, 25.83949152542373, 25.86322033898305, 25.886949152542375, 25.910677966101694, 25.934406779661018, 25.95813559322034, 25.98186440677966, 26.005593220338984, 26.029322033898307, 26.053050847457627, 26.07677966101695, 26.100508474576273, 26.124237288135596, 26.147966101694916, 26.17169491525424, 26.19542372881356, 26.219152542372882, 26.242881355932205, 26.26661016949153, 26.290338983050848, 26.31406779661017, 26.33779661016949, 26.361525423728814, 26.385254237288137, 26.40898305084746, 26.43271186440678, 26.456440677966103, 26.480169491525423, 26.503898305084746, 26.52762711864407, 26.551355932203393, 26.575084745762712, 26.598813559322036, 26.622542372881355, 26.64627118644068, 26.67, 26.693728813559325, 26.717457627118645, 26.741186440677968, 26.764915254237287, 26.78864406779661, 26.812372881355934, 26.836101694915257, 26.859830508474577, 26.8835593220339, 26.90728813559322, 26.931016949152543, 26.954745762711866, 26.97847457627119, 27.00220338983051, 27.025932203389832, 27.049661016949152, 27.073389830508475, 27.0971186440678, 27.12084745762712, 27.14457627118644, 27.168305084745764, 27.192033898305084, 27.215762711864407, 27.23949152542373, 27.263220338983054, 27.286949152542373, 27.310677966101697, 27.334406779661016, 27.35813559322034, 27.381864406779663, 27.405593220338986, 27.429322033898305, 27.45305084745763, 27.47677966101695, 27.50050847457627, 27.524237288135595, 27.547966101694918, 27.571694915254238, 27.59542372881356, 27.61915254237288, 27.642881355932204, 27.666610169491527, 27.69033898305085, 27.71406779661017, 27.737796610169493, 27.761525423728813, 27.785254237288136, 27.80898305084746, 27.832711864406782, 27.856440677966102, 27.880169491525425, 27.903898305084745, 27.927627118644068, 27.95135593220339, 27.975084745762715, 27.998813559322034, 28.022542372881357, 28.046271186440677, 28.07, 28.093728813559323, 28.117457627118647, 28.141186440677966, 28.16491525423729, 28.18864406779661, 28.212372881355932, 28.236101694915256, 28.25983050847458, 28.2835593220339, 28.30728813559322, 28.33101694915254, 28.354745762711865, 28.378474576271188, 28.40220338983051, 28.42593220338983, 28.449661016949154, 28.473389830508474, 28.497118644067797, 28.52084745762712, 28.544576271186443, 28.568305084745763, 28.592033898305086, 28.615762711864406, 28.63949152542373, 28.663220338983052, 28.686949152542375, 28.710677966101695, 28.73440677966102, 28.758135593220338, 28.78186440677966, 28.805593220338984, 28.829322033898308, 28.853050847457627, 28.87677966101695, 28.90050847457627, 28.924237288135593, 28.947966101694917, 28.97169491525424, 28.99542372881356, 29.019152542372883, 29.042881355932202, 29.066610169491526, 29.09033898305085, 29.114067796610172, 29.13779661016949, 29.161525423728815, 29.185254237288135, 29.208983050847458, 29.23271186440678, 29.256440677966104, 29.280169491525424, 29.303898305084747, 29.327627118644067, 29.35135593220339, 29.375084745762713, 29.398813559322036, 29.422542372881356, 29.44627118644068, 29.47, 29.493728813559322, 29.517457627118645, 29.54118644067797, 29.564915254237288, 29.58864406779661, 29.61237288135593, 29.636101694915254, 29.659830508474577, 29.6835593220339, 29.70728813559322, 29.731016949152544, 29.754745762711863, 29.778474576271186, 29.80220338983051, 29.825932203389833, 29.849661016949153, 29.873389830508476, 29.897118644067795, 29.92084745762712, 29.944576271186442, 29.968305084745765, 29.992033898305085, 30.015762711864408, 30.03949152542373, 30.06322033898305, 30.086949152542374, 30.110677966101697, 30.134406779661017, 30.15813559322034, 30.181864406779663, 30.205593220338983, 30.229322033898306, 30.25305084745763, 30.27677966101695, 30.300508474576272, 30.324237288135595, 30.347966101694915, 30.37169491525424, 30.39542372881356, 30.41915254237288, 30.442881355932204, 30.466610169491528, 30.490338983050847, 30.51406779661017, 30.537796610169494, 30.561525423728813, 30.585254237288137, 30.60898305084746, 30.63271186440678, 30.656440677966103, 30.680169491525426, 30.703898305084746, 30.72762711864407, 30.751355932203392, 30.77508474576271, 30.798813559322035, 30.822542372881358, 30.846271186440678, 30.87, 30.893728813559324, 30.917457627118644, 30.941186440677967, 30.96491525423729, 30.98864406779661, 31.012372881355933, 31.036101694915256, 31.059830508474576, 31.0835593220339, 31.107288135593222, 31.131016949152542, 31.154745762711865, 31.17847457627119, 31.20220338983051, 31.22593220338983, 31.249661016949155, 31.273389830508474, 31.297118644067798, 31.32084745762712, 31.34457627118644, 31.368305084745764, 31.392033898305087, 31.415762711864406, 31.43949152542373, 31.463220338983053, 31.486949152542373, 31.510677966101696, 31.53440677966102, 31.55813559322034, 31.581864406779662, 31.605593220338985, 31.629322033898305, 31.653050847457628, 31.67677966101695, 31.70050847457627, 31.724237288135594, 31.747966101694917, 31.771694915254237, 31.79542372881356, 31.819152542372883, 31.842881355932207, 31.866610169491526, 31.890338983050846, 31.91406779661017, 31.937796610169492, 31.961525423728816, 31.98525423728814, 32.00898305084746, 32.03271186440678, 32.0564406779661, 32.080169491525425, 32.10389830508475, 32.12762711864407, 32.15135593220339, 32.17508474576271, 32.19881355932203, 32.22254237288136, 32.24627118644068, 32.27, 32.293728813559326, 32.31745762711864, 32.341186440677966, 32.36491525423729, 32.38864406779661, 32.412372881355935, 32.43610169491525, 32.459830508474575, 32.4835593220339, 32.50728813559322, 32.531016949152544, 32.55474576271187, 32.57847457627119, 32.60220338983051, 32.62593220338983, 32.64966101694915, 32.67338983050848, 32.6971186440678, 32.720847457627116, 32.744576271186446, 32.76830508474576, 32.792033898305085, 32.81576271186441, 32.83949152542373, 32.863220338983055, 32.88694915254237, 32.910677966101694, 32.93440677966102, 32.95813559322034, 32.981864406779664, 33.00559322033898, 33.02932203389831, 33.05305084745763, 33.07677966101695, 33.10050847457627, 33.124237288135596, 33.14796610169492, 33.171694915254236, 33.19542372881356, 33.21915254237288, 33.242881355932205, 33.26661016949153, 33.290338983050844, 33.314067796610175, 33.33779661016949, 33.361525423728814, 33.38525423728814, 33.40898305084746, 33.432711864406784, 33.4564406779661, 33.48016949152542, 33.503898305084746, 33.52762711864407, 33.55135593220339, 33.57508474576271, 33.59881355932204, 33.622542372881355, 33.64627118644068, 33.67, 33.693728813559325, 33.71745762711865, 33.741186440677964, 33.76491525423729, 33.78864406779661, 33.812372881355934, 33.83610169491526, 33.85983050847457, 33.8835593220339, 33.90728813559322, 33.93101694915254, 33.954745762711866, 33.97847457627119, 34.00220338983051, 34.02593220338983, 34.04966101694915, 34.073389830508475, 34.0971186440678, 34.12084745762712, 34.14457627118644, 34.16830508474577, 34.192033898305084, 34.21576271186441, 34.23949152542373, 34.263220338983054, 34.28694915254238, 34.31067796610169, 34.334406779661016, 34.35813559322034, 34.38186440677966, 34.405593220338986, 34.4293220338983, 34.45305084745763, 34.47677966101695, 34.50050847457627, 34.524237288135595, 34.54796610169492, 34.57169491525424, 34.59542372881356, 34.61915254237288, 34.642881355932204, 34.66661016949153, 34.69033898305085, 34.714067796610166, 34.7377966101695, 34.76152542372881, 34.785254237288136, 34.80898305084746, 34.83271186440678, 34.856440677966106, 34.88016949152542, 34.903898305084745, 34.92762711864407, 34.95135593220339, 34.975084745762715, 34.99881355932203, 35.02254237288136, 35.04627118644068, 35.07, 35.09372881355932, 35.11745762711865, 35.14118644067797, 35.164915254237286, 35.18864406779661, 35.21237288135593, 35.236101694915256, 35.25983050847458, 35.283559322033895, 35.307288135593225, 35.33101694915254, 35.354745762711865, 35.37847457627119, 35.40220338983051, 35.425932203389834, 35.44966101694915, 35.473389830508474, 35.4971186440678, 35.52084745762712, 35.54457627118644, 35.56830508474576, 35.59203389830509, 35.615762711864406, 35.63949152542373, 35.66322033898305, 35.686949152542375, 35.7106779661017, 35.734406779661015, 35.75813559322034, 35.78186440677966, 35.805593220338984, 35.82932203389831, 35.853050847457624, 35.876779661016954, 35.90050847457627, 35.92423728813559, 35.94796610169492, 35.97169491525424, 35.99542372881356, 36.01915254237288, 36.0428813559322, 36.066610169491526, 36.09033898305085, 36.11406779661017, 36.137796610169495, 36.16152542372882, 36.185254237288135, 36.20898305084746, 36.23271186440678, 36.256440677966104, 36.28016949152543, 36.30389830508474, 36.32762711864407, 36.35135593220339, 36.37508474576271, 36.398813559322036, 36.42254237288136, 36.44627118644068, 36.47, 36.49372881355932, 36.517457627118645, 36.54118644067797, 36.56491525423729, 36.58864406779661, 36.61237288135593, 36.636101694915254, 36.65983050847458, 36.6835593220339, 36.707288135593224, 36.73101694915255, 36.75474576271186, 36.778474576271186, 36.80220338983051, 36.82593220338983, 36.849661016949156, 36.87338983050847, 36.897118644067795, 36.92084745762712, 36.94457627118644, 36.968305084745765, 36.99203389830509, 37.01576271186441, 37.03949152542373, 37.06322033898305, 37.086949152542374, 37.1106779661017, 37.13440677966102, 37.15813559322034, 37.18186440677966, 37.20559322033898, 37.229322033898306, 37.25305084745763, 37.27677966101695, 37.300508474576276, 37.32423728813559, 37.347966101694915, 37.37169491525424, 37.39542372881356, 37.419152542372885, 37.4428813559322, 37.466610169491524, 37.49033898305085, 37.51406779661017, 37.537796610169494, 37.56152542372882, 37.58525423728814, 37.608983050847456, 37.63271186440678, 37.6564406779661, 37.680169491525426, 37.70389830508475, 37.727627118644065, 37.75135593220339, 37.77508474576271, 37.798813559322035, 37.82254237288136, 37.84627118644068, 37.870000000000005]

In [20]:
len1 = 31 # length down on center column
len2 = 16 # length out on solar panel

angle_panels = lambda x : 90 - np.rad2deg(np.arccos((len1**2 + len2**2 - x**2)/(2*len1*len2)))

# print(lengths[1024]/12)
# print(angle_panels(lengths[1024]))

deg=[]
for val in lengths:
    deg.append(angle_panels(val))
    
print(deg)

[40.72602071572148, 40.63969754915865, 40.55340026299104, 40.46712856180154, 40.3808821518169, 40.2946607408903, 40.2084640384842, 40.122291755653414, 40.03614360502831, 39.950019300798246, 39.86391855869522, 39.77784109597764, 39.691786631414345, 39.60575488526877, 39.51974557928333, 39.43375843666388, 39.34779318206453, 39.26184954157245, 39.175927242692936, 39.09002601433461, 39.00414558679492, 38.918285691745474, 38.832446062217954, 38.746626432589856, 38.66082653857055, 38.575046117187426, 38.489284906772305, 38.40354264694774, 38.31781907861384, 38.2321139439349, 38.1464269863263, 38.060757950441655, 37.97510658215994, 37.889472628572754, 37.80385583797194, 37.718255959836995, 37.63267274482291, 37.547105944747976, 37.46155531258181, 37.376020602433364, 37.29050156953926, 37.204997970252116, 37.11950956202894, 37.03403610341982, 36.94857735405661, 36.86313307464168, 36.77770302693697, 36.69228697375298, 36.60688467893789, 36.5214959073669, 36.43612042493163, 36.35075799852948, 36.265408396053374, 36.18007138638136, 36.09474673936639, 36.00943422582633, 35.92413361753388, 35.838844687206596, 35.75356720849722, 35.66830095598394, 35.58304570516068, 35.497801232427655, 35.41256731508196, 35.32734373130812, 35.24213026016895, 35.15692668159636, 35.07173277638219, 34.98654832616935, 34.901373113442844, 34.816206921520916, 34.731049534546365, 34.64590073747789, 34.560760316081435, 34.47562805692175, 34.390503747354, 34.30538717551529, 34.22027813031655, 34.13517640143425, 34.05008177930227, 33.96499405510389, 33.87991302076386, 33.79483846894035, 33.70977019301726, 33.624707987096436, 33.53965164598987, 33.45460096521219, 33.36955574097305, 33.28451577016959, 33.19948085037912, 33.11445077985166, 33.02942535750261, 32.94440438290564, 32.859387656285385, 32.774374978510366, 32.68936615108598, 32.60436097614742, 32.5193592564528, 32.434360795376236, 32.34936539690104, 32.264372865612906, 32.17938300669326, 32.09439562591259, 32.00941052962381, 31.924427524755693, 31.839446418806432, 31.754467019837158, 31.669489136465536, 31.584512577859442, 31.499537153730685, 31.414562674328664, 31.329588950434342, 31.2446157933539, 31.159643014912803, 31.074670427449632, 30.989697843810205, 30.90472507734141, 30.819751941885535, 30.734778251774145, 30.649803821822452, 30.564828467323494, 30.47985200404228, 30.394874248210186, 30.309895016519285, 30.224914126116722, 30.139931394599117, 30.05494664000708, 29.969959680819663, 29.88497033594887, 29.79997842473437, 29.714983766937983, 29.62998618273837, 29.544985492725793, 29.459981517896757, 29.37497407964878, 29.289962999775277, 29.204948100460328, 29.119929204273546, 29.034906134165006, 28.9498787134602, 28.86484676585495, 28.779810115410477, 28.694768586548363, 28.60972200404573, 28.52467019303024, 28.439612978975298, 28.354550187695082, 28.269481645339994, 28.184407178391574, 28.099326613657965, 28.014239778269143, 27.9291464996722, 27.84404660562666, 27.758939924199936, 27.673826283762622, 27.588705512983964, 27.50357744082735, 27.418441896545687, 27.33329870967693, 27.24814771003971, 27.162988727728695, 27.07782159311033, 26.992646136818387, 26.90746218974956, 26.822269583059118, 26.737068148156624, 26.651857716701556, 26.566638120599094, 26.481409191995816, 26.396170763275528, 26.310922667054882, 26.225664736179397, 26.140396803719135, 26.05511870296462, 25.969830267422665, 25.884531330812308, 25.79922172706064, 25.71390129029882, 25.628569854858, 25.543227255265222, 25.457873326239536, 25.372507902687886, 25.287130819701133, 25.201741912550247, 25.116341016682128, 25.030927967715883, 24.945502601438818, 24.86006475380259, 24.774614260919265, 24.68915095905757, 24.60367468463889, 24.51818527423366, 24.43268256455734, 24.347166392466747, 24.261636594956215, 24.17609300915386, 24.090535472317796, 24.00496382183246, 23.919377895204804, 23.833777530060644, 23.748162564140927, 23.66253283529805, 23.576888181492237, 23.491228440787793, 23.40555345134956, 23.319863051439185, 23.23415707941153, 23.148435373711152, 23.062697772868503, 22.976944115496522, 22.891174240287057, 22.80538798600712, 22.719585191495497, 22.63376569565918, 22.547929337469768, 22.462075955959975, 22.37620539022012, 22.29031747939463, 22.204412062678486, 22.11848897931381, 22.032548068586294, 21.946589169821834, 21.860612122382975, 21.77461676566554, 21.68860293909505, 21.60257048212344, 21.5165192342255, 21.430449034895517, 21.344359723643876, 21.258251139993575, 21.172123123476823, 21.085975513631737, 20.99980814999884, 20.913620872117747, 20.827413519523745, 20.74118593174444, 20.654937948296308, 20.568669408681473, 20.48238015238421, 20.396070018867704, 20.3097388475706, 20.22338647790373, 20.137012749246665, 20.050617500944554, 19.964200572304577, 19.877761802592815, 19.79130103103077, 19.704818096792124, 19.61831283899936, 19.531785096720526, 19.445234708965785, 19.358661514684258, 19.272065352760578, 19.18544606201172, 19.098803481183495, 19.012137448947456, 18.925447803897427, 18.838734384546314, 18.751997029322737, 18.66523557656778, 18.578449864531592, 18.4916397313702, 18.404805015142188, 18.31794555380526, 18.23106118521318, 18.14415174711229, 18.057217077138205, 17.97025701281268, 17.88327139154009, 17.79626005060429, 17.70922282716525, 17.622159558255746, 17.53507008077804, 17.44795423150063, 17.360811847054876, 17.273642763931704, 17.18644681847833, 17.09922384689493, 17.01197368523121, 16.924696169383253, 16.837391135090115, 16.750058417930475, 16.6626978533193, 16.575309276504612, 16.487892522563968, 16.400447426401314, 16.312973822743515, 16.225471546136944, 16.13794043094437, 16.050380311341314, 15.962791021312839, 15.875172394650164, 15.787524264947322, 15.699846465597602, 15.612138829790396, 15.524401190507675, 15.436633380520604, 15.348835232386136, 15.261006578443642, 15.173147250811425, 15.085257081383403, 14.997335901825537, 14.909383543572488, 14.82139983782416, 14.733384615542235, 14.645337707446686, 14.557258944012347, 14.469148155465462, 14.38100517178006, 14.29282982267469, 14.204621937608707, 14.116381345778834, 14.028107876115712, 13.939801357280274, 13.851461617660235, 13.76308848536658, 13.674681788229975, 13.58624135379715, 13.497767009327433, 13.40925858178909, 13.320715897855663, 13.232138783902556, 13.143527066003173, 13.054880569925459, 12.96619912112817, 12.8774825447573, 12.788730665642262, 12.699943308292362, 12.611120296893063, 12.522261455302228, 12.433366607046452, 12.34443557531732, 12.255468182967633, 12.166464252507737, 12.07742360610169, 11.988346065563377, 11.89923145235295, 11.810079587572801, 11.720890291963883, 11.631663385901717, 11.542398689392641, 11.453096022069971, 11.36375520319001, 11.274376051628195, 11.184958385875177, 11.095502024032925, 11.006006783810633, 10.916472482520973, 10.826898937075882, 10.737285963982742, 10.647633379340292, 10.557940998834496, 10.46820863773469, 10.378436110889297, 10.288623232721903, 10.198769817227088, 10.108875677966225, 10.01894062806349, 9.928964480201515, 9.83894704661732, 9.748888139098128, 9.658787568977047, 9.568645147128905, 9.478460683965821, 9.38823398943319, 9.29796487300517, 9.207653143680432, 9.11729860997771, 9.026901079931605, 8.936460361088038, 8.845976260499825, 8.755448584722359, 8.664877139809064, 8.574261731306919, 8.483602164251977, 8.39289824316468, 8.30214977204561, 8.21135655437054, 8.120518393086101, 8.029635090605012, 7.938706448801469, 7.847732269006471, 7.756712352003007, 7.665646498021431, 7.574534506734722, 7.483376177253575, 7.392171308121618, 7.300919697310633, 7.209621142215681, 7.118275439650006, 7.026882385840395, 6.93544177642201, 6.843953406433499, 6.752417070311921, 6.660832561887659, 6.56919967437949, 6.477518200389341, 6.385787931897212, 6.294008660255969, 6.2021801761860615, 6.110302269770571, 6.018374730449565, 5.926397347015026, 5.834369907605492, 5.742292199700657, 5.650164010115944, 5.557985124997089, 5.465755329814684, 5.373474409358664, 5.281142147732751, 5.1887583283488965, 5.096322733921525, 5.003835146462237, 4.911295347273665, 4.818703116944079, 4.726058235341455, 4.6333604816077525, 4.540609634153071, 4.447805470649612, 4.354947768025994, 4.262036302461141, 4.169070849378286, 4.076051183439006, 3.982977078536962, 3.8898483077920503, 3.7966646435438776, 3.7034258573458914, 3.6101317199588436, 3.516782001344694, 3.4233764706601306, 3.3299148962502017, 3.23639704564188, 3.142822685537652, 3.0491915818088984, 2.955503499489353, 2.861758202768357, 2.7679554549845022, 2.6740950186184733, 2.580176655286607, 2.486200125733987, 2.3921651898274803, 2.2980716065489304, 2.2039191339880233, 2.1097075293354663, 2.0154365488757406, 1.921105947980081, 1.8267154810991855, 1.7322649017559826, 1.637753962538497, 1.5431824150922182, 1.448550010112939, 1.3538564973391658, 1.2591016255445737, 1.1642851425305025, 1.0694067951182546, 0.9744663291414071, 0.8794634894380806, 0.7843980198430671, 0.6892696631799708, 0.5940781612531651, 0.4988232548400475, 0.4035046836825984, 0.3081221864795225, 0.2126755008779213, 0.11716436346505077, 0.0215885097599795, -0.07405232579486665, -0.1697584098420748, -0.26553001011788524, -0.3613673954607748, -0.45727083582005434, -0.5532406022649212, -0.6492769669927583, -0.7453802033386552, -0.8415505857839349, -0.9377883899653341, -1.0340938926842398, -1.1304673719156852, -1.2269091068179137, -1.3234193777414447, -1.4199984662386669, -1.5166466550733588, -1.6133642282302247, -1.7101514709247425, -1.807008669612614, -1.9039361119999825, -2.000934087053082, -2.0980028850084267, -2.195142797382843, -2.2923541169836312, -2.389637137919067, -2.4869921556084904, -2.584419466792909, -2.681919369545554, -2.779492163282555, -2.8771381487737244, -2.9748576281531314, -3.072650904930498, -3.1705182840018296, -3.2684600716607832, -3.3664765756097665, -3.4645681049713772, -3.5627349702998714, -3.660977483592589, -3.759295958301635, -3.857690709345718, -3.956162053121915, -4.054710307517794, -4.15333579192324, -4.252038827242956, -4.350819735908544, -4.449678841891, -4.548616470713341, -4.647632949463045, -4.746728606805121, -4.845903772994745, -4.945158779890363, -5.0444939609669035, -5.143909651328954, -5.243406187724148, -5.342983908556704, -5.4426431539012015, -5.542384265516063, -5.642207586857751, -5.742113463094654, -5.8421022411212675, -5.9421742695726465, -6.04232989883873, -6.142569481078894, -6.242893370236857, -6.343301922055417, -6.443795494091617, -6.5443744457317194, -6.645039138206798, -6.745789934607984, -6.846627199902187, -6.947551300947936, -7.048562606511254, -7.14966148728179, -7.250848315889073, -7.35212346691894, -7.453487316930165, -7.554940244471197, -7.6564826300971305, -7.758114856386683, -7.859837307959737, -7.9616503714944855, -8.063554435745317, -8.165549891560474, -8.267637131900116, -8.369816551854669, -8.472088548662825, -8.574453521730476, -8.676911872649285, -8.779464005215686, -8.882110325450071, -8.984851241616056, -9.087687164240265, -9.190618506131798, -9.293645682402385, -9.396769110486602, -9.499989210162155, -9.603306403570656, -9.706721115238324, -9.81023377209712, -9.913844803506052, -10.017554641272696, -10.121363719674903, -10.225272475482868, -10.329281347981365, -10.433390778992148, -10.537601212896703, -10.641913096659309, -10.746326879850074, -10.850843014668698, -10.95546195596792, -11.060184161277704, -11.165010090829455, -11.269940207580618, -11.374974977239376, -11.480114868289817, -11.58536035201746, -11.690711902534616, -11.796169996806597, -11.90173511467782, -12.007407738898436, -12.113188355151195, -12.21907745207858, -12.325075521310154, -12.431183057490571, -12.537400558307525, -12.643728524520256]

In [33]:
data = {'Actuator Length': lengths, 'Angle': deg, 'ADC': adc}
df = pd.DataFrame(data)

df

# should eventually (once confirmed) export df as csv to save code

     Actuator Length      Angle  ADC
0          23.870000  35.732611  379
1          23.893729  35.616958  380
2          23.917458  35.501358  381
3          23.941186  35.385809  382
4          23.964915  35.270312  383
..               ...        ...  ...
586        37.775085 -41.005385  965
587        37.798814 -41.202661  966
588        37.822542 -41.400658  967
589        37.846271 -41.599384  968
590        37.870000 -41.798850  969

[591 rows x 3 columns]

In [39]:
'''
NOTE: this no longer applies, as the ADC range changed
acceptable ADC range given ±30° constraints:
greater than 30: [0,86]; less than -30: [911,1024]
acceptable: [87, 910]
closest to 0: 536


NEW VALUES:
greater than 30: [379,429]; less than -30: [904,969]
acceptable: [429, 904];   row 50 - row 525
closest to 0: 688

'''

In [23]:
df_sort = df.iloc[(df['Angle']+30).abs().argsort()[:2]]
df_sort

# print(df_sort.to_numpy()[0][0])

     Actuator Length      Angle  ADC
525        36.327627 -30.062857  904
524        36.303898 -29.897926  903

# Solar Position (monthly)

In [7]:
'''
# creating dataframe that uses the same times for positioning for each month, all times in UTC

neg30 = ['6:30:35 PM','6:26:33 PM','6:11:40 PM','5:51:20 PM','5:38:40 PM','5:37:40 PM','5:45:00 PM','5:52:00 PM',
         '5:53:00 PM','5:54:40 PM','6:03:40 PM','6:19:20 PM']
pos30 = ['9:52:32 PM','10:05:15 PM','10:10:40 PM','10:13:00 PM','10:19:20 PM','10:27:40 PM','10:31:00 PM',
         '10:21:40 PM','10:01:00 PM','9:41:00 PM','9:30:00 PM','9:35:00 PM']
noon = ['8:11:33 PM','8:15:47 PM','8:11:00 PM','8:02:00 PM','7:59:00 PM','8:03:00 PM','8:08:00 PM','8:07:00 PM',
        '7:57:00 PM','7:48:00 PM','7:47:00 PM','7:57:00 PM']
sunrise = ['3:08:39 PM','2:48:04 PM','2:13:00 PM','1:30:00 PM','12:58:00 PM','12:47:00 PM','12:59:00 PM',
           '1:22:00 PM','1:45:00 PM','2:08:00 PM','2:37:00 PM','3:04:00 PM']
sunset = ['1:14:29 AM','1:44:11 AM','2:10:00 AM','2:35:00 AM','3:00:00 AM','3:17:00 AM','3:17:00 AM',
          '2:51:00 AM','2:09:00 AM','1:27:00 AM','12:56:00 AM','12:51:00 AM']

neg30 = pd.to_datetime(neg30).strftime('%H:%M:%S')
pos30 = pd.to_datetime(pos30).strftime('%H:%M:%S')
noon = pd.to_datetime(noon).strftime('%H:%M:%S')
sunrise = pd.to_datetime(sunrise).strftime('%H:%M:%S')
sunset = pd.to_datetime(sunset).strftime('%H:%M:%S')

data = {'Month' : list(range(1,13)), 'Sunrise' : sunrise,
        '-30 Time' : neg30, 'Noon': noon,'+30 Time': pos30, 'Sunset': sunset}

position_df = pd.DataFrame(data,index=['January','February','March','April','May','June','July','August',
                                      'September','October','November','December'])

position_df.to_csv('times_positions.csv')
'''

"\n# creating dataframe that uses the same times for positioning for each month, all times in UTC\n\nneg30 = ['6:30:35 PM','6:26:33 PM','6:11:40 PM','5:51:20 PM','5:38:40 PM','5:37:40 PM','5:45:00 PM','5:52:00 PM',\n         '5:53:00 PM','5:54:40 PM','6:03:40 PM','6:19:20 PM']\npos30 = ['9:52:32 PM','10:05:15 PM','10:10:40 PM','10:13:00 PM','10:19:20 PM','10:27:40 PM','10:31:00 PM',\n         '10:21:40 PM','10:01:00 PM','9:41:00 PM','9:30:00 PM','9:35:00 PM']\nnoon = ['8:11:33 PM','8:15:47 PM','8:11:00 PM','8:02:00 PM','7:59:00 PM','8:03:00 PM','8:08:00 PM','8:07:00 PM',\n        '7:57:00 PM','7:48:00 PM','7:47:00 PM','7:57:00 PM']\nsunrise = ['3:08:39 PM','2:48:04 PM','2:13:00 PM','1:30:00 PM','12:58:00 PM','12:47:00 PM','12:59:00 PM',\n           '1:22:00 PM','1:45:00 PM','2:08:00 PM','2:37:00 PM','3:04:00 PM']\nsunset = ['1:14:29 AM','1:44:11 AM','2:10:00 AM','2:35:00 AM','3:00:00 AM','3:17:00 AM','3:17:00 AM',\n          '2:51:00 AM','2:09:00 AM','1:27:00 AM','12:56:00 AM','12:51:00 AM']\n\nneg30 = pd.to_datetime(neg30).strftime('%H:%M:%S')\npos30 = pd.to_datetime(pos30).strftime('%H:%M:%S')\nnoon = pd.to_datetime(noon).strftime('%H:%M:%S')\nsunrise = pd.to_datetime(sunrise).strftime('%H:%M:%S')\nsunset = pd.to_datetime(sunset).strftime('%H:%M:%S')\n\ndata = {'Month' : list(range(1,13)), 'Sunrise' : sunrise,\n        '-30 Time' : neg30, 'Noon': noon,'+30 Time': pos30, 'Sunset': sunset}\n\nposition_df = pd.DataFrame(data,index=['January','February','March','April','May','June','July','August',\n                                      'September','October','November','December'])\n\nposition_df.to_csv('times_positions.csv')\n"

In [34]:
filename = 'times_positions.csv'
position_df = pd.read_csv(filename)

position_df = position_df.set_index('Unnamed: 0')
position_df

            Month   Sunrise  -30 Time      Noon  +30 Time    Sunset
Unnamed: 0
January         1  15:08:39  18:30:35  20:11:33  21:52:32  01:14:29
February        2  14:48:04  18:26:33  20:15:47  22:05:15  01:44:11
March           3  14:13:00  18:11:40  20:11:00  22:10:40  02:10:00
April           4  13:30:00  17:51:20  20:02:00  22:13:00  02:35:00
May             5  12:58:00  17:38:40  19:59:00  22:19:20  03:00:00
June            6  12:47:00  17:37:40  20:03:00  22:27:40  03:17:00
July            7  12:59:00  17:45:00  20:08:00  22:31:00  03:17:00
August          8  13:22:00  17:52:00  20:07:00  22:21:40  02:51:00
September       9  13:45:00  17:53:00  19:57:00  22:01:00  02:09:00
October        10  14:08:00  17:54:40  19:48:00  21:41:00  01:27:00
November       11  14:37:00  18:03:40  19:47:00  21:30:00  00:56:00
December       12  15:04:00  18:19:20  19:57:00  21:35:00  00:51:00

In [35]:
start = datetime(year=1,month=1,day=1,hour=0,minute=0)
diff = timedelta(days=0,minutes=10,seconds=0,microseconds=0)
each = list(range(0,24*6,1))

times = []
minute = start
mo = 1
while mo < 13:
    for time in each:
        minute = datetime.strptime(str(minute),"%Y-%m-%d %H:%M:%S")
        times.append(minute.strftime("%H:%M:%S"))
        minute += diff
    mo+=1
    
# print(times)

In [36]:
months = []
mo = 1
while mo < 13:
    for rep in each:
        months.append(mo)
    mo+=1

data = {'Month':months,'Time':times}
final_df = pd.DataFrame(data) 
final_df

      Month      Time
0         1  00:00:00
1         1  00:10:00
2         1  00:20:00
3         1  00:30:00
4         1  00:40:00
...     ...       ...
1723     12  23:10:00
1724     12  23:20:00
1725     12  23:30:00
1726     12  23:40:00
1727     12  23:50:00

[1728 rows x 2 columns]

In [46]:
positions = []
ADCs = []

center = 688
low = 429    # full extension
high = 904   # full retraction

for month, time in zip(months, times):
    sunrise = position_df.loc[position_df['Month'] == month].to_numpy()[0][1]
    sunrise = datetime.strptime(sunrise,"%H:%M:%S")
    
    old_sunrise = position_df.loc[position_df['Month'] == month].to_numpy()[0][1]
    old_sunrise = datetime.strptime(old_sunrise,"%H:%M:%S")
    
    sunset = position_df.loc[position_df['Month'] == month].to_numpy()[0][5]
    sunset = datetime.strptime(sunset,"%H:%M:%S")
    
    adj = timedelta(days=0,hours=23,minutes=59,seconds=59,microseconds=0)
    time = datetime.strptime(time,"%H:%M:%S")
    
    if time < datetime.strptime('12:00:00',"%H:%M:%S"):
        time = time + adj
    if sunrise < datetime.strptime('12:00:00',"%H:%M:%S"):
        sunrise = sunrise + adj
    if sunset < datetime.strptime('12:00:00',"%H:%M:%S"):
        sunset = sunset + adj
    sun_position = (np.abs(time - sunrise)/np.abs(sunset - sunrise))*180  # sun position in degrees (0 = rise, 180 = set)
    positions.append(sun_position)
    
    if sun_position > 180:
        adc = center
    elif 0 <= sun_position <= 60:
        if time >= old_sunrise:
            adc = high
    elif 120 <= sun_position <= 180:
        adc = low
    else:
        panel_position = sun_position - 90     # panel position in degrees [-30,30]
        new_df = df.iloc[(df['Angle']-panel_position).abs().argsort()[:2]]
        adc = int(new_df.to_numpy()[0][2])
        
    ADCs.append(adc)
    
final_df['Position'] = positions
final_df['ADC'] = ADCs

final_df

# final_df.to_csv('adc_by_time.csv')

# i need to comment my code ughhh

# Tracking Through One Day

In [47]:
filename = 'adc_by_time.csv'
adc_by_time = pd.read_csv(filename)

adc_by_time = adc_by_time.drop(columns='Unnamed: 0')
adc_by_time

      Month      Time    Position  ADC
0         1  00:00:00  157.869542  429
1         1  00:10:00  160.840738  429
2         1  00:20:00  163.811934  429
3         1  00:30:00  166.783130  429
4         1  00:40:00  169.754326  429
...     ...       ...         ...  ...
1723     12  23:10:00  149.033192  429
1724     12  23:20:00  152.099719  429
1725     12  23:30:00  155.166245  429
1726     12  23:40:00  158.232772  429
1727     12  23:50:00  161.299299  429

[1728 rows x 4 columns]

In [48]:
import time

now = datetime.strptime(str(datetime.now()),"%Y-%m-%d %H:%M:%S.%f")
month = int(now.strftime("%m"))
    
month_df = adc_by_time.loc[adc_by_time['Month'] == month]
# month_df

difference = .2   #time in seconds; will be 10*60*60

n = 0
while n<144:
    adc = int(month_df.to_numpy()[n][3])
    print(adc)
    time.sleep(difference)
    n+=1

# now = datetime.strptime(str(datetime.now()),"%Y-%m-%d %H:%M:%S.%f")
# hr = now.strftime("%H")
# minute = now.strftime("%M")
# sec = now.strftime("%S")

# time_del = timedelta(days=0,hours=hr,minutes=minute,seconds=sec,microseconds=0)

# new_df = adc_by_time.iloc[(adc_by_time['Time']-time_del).abs().argsort()[:2]]
# # adc = int(new_df.to_numpy()[0][2])
# new_df

429
429
429
429
429
429
429
429
429
429
429
429
429
429
429
429
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
688
904
904
904
904
904
904
904
904
904
904
904
904
904
904
904
904
904
904
904
904
904
904
904
904
904
904
904
892
877
862
847
831
815
799
782
765
747
729
711
693
674
655
636
616
597
577
557
537
517
496
476
456
436
429
429
429
429
429
429
429
429
429
429

# Solar Position (PySolar)

In [14]:
# import pysolar
# from pysolar.solar import *
# import datetime
# # from datetime import strftime
# from pytz import timezone

In [15]:
# # creating function with RTC date as the input and potentiometer value as the output

# # all date related parameters will be found using RTC -- ideally in UTC
# year = 2022
# month = 3
# day = 12

# hr = 12 # uses 0-23 (military time)
# if hr < 16:
#     hr += 8
# elif hr >= 16:
#     hr = hr - 16

# minute = 12 
# date = datetime.datetime(year, month, day, hr, minute, tzinfo=datetime.timezone.utc)
# # https://www.timeanddate.com/sun/usa/san-luis-obispo  for sunset and sunrise times to reference


# latitude = 35.300501
# longitude = -120.661852
# def get_adc(time): 
#     alt = get_altitude(latitude, longitude, time)
#     df2 = df.iloc[(df['Angle']-alt).abs().argsort()[:1]]
#     adc_value = df2.iat[0,2]
# #     if 0 <= adc_value < 87:
# #         adc_value = 87
# #     elif 910 <= adc_value < 1025:
# #         adc_value = 910
#     return(adc_value)

# print(date)
# print(alt)
# print(get_adc(date))